.change-password-card {
  width: 600px;
  padding: 40px;
  margin-top: 50px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.change-password-card h1 {
  text-align: center;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
}

.btn {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ffffff;
}

.login-link {
  color: #5eb6ff;
  text-decoration: none;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(20%);
  cursor: pointer;
}

mat-error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 15px;
}

.success-message {
  color: green;
}

@media (min-width: 600px) {
  .change-password-container {
    display: grid;
    place-items: center;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .change-password-card {
    width: 100%;
    height: 100vh;
  }
}
