<div class="resetpwd-container">
  <div class="resetpwd-card">
    <h1>Reset Your Password</h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          type="{{ showPassword ? 'password' : 'text' }}"
          id="password"
          class="form-control"
          placeholder="Enter new password"
          formControlName="password"
        />
        <mat-icon class="password-icon" (click)="showPassword = !showPassword">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="password?.hasError('required') && password?.dirty">
          Password is required
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength') && password?.dirty">
          Password must be at least 8 characters
        </mat-error>
      </div>

      <div class="form-group">
        <label for="passwordConfirmation">Confirm Password</label>
        <input
          type="{{ showConfirmPassword ? 'password' : 'text' }}"
          id="passwordConfirmation"
          class="form-control"
          placeholder="Confirm new password"
          formControlName="passwordConfirmation"
        />
        <mat-icon class="password-icon" (click)="showConfirmPassword = !showConfirmPassword">
          {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordConfirmation?.hasError('required') && passwordConfirmation?.dirty">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="passwordConfirmation?.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" >
          Reset Password
        </button>
      </div>

      <p *ngIf="message">{{ message }}</p>
    </form>

    <p>
      <a class="register-link" routerLink="/auth/login" routerLinkActive="active">Back to Login</a>
    </p>
  </div>
</div>
