<div class="login-container" *ngIf="!isServer">
  <div class="login-card">
    <h1>Welcome Back!</h1>

    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-error *ngIf="email?.hasError('required') && email?.dirty">
          Email is required
        </mat-error>
        <mat-error *ngIf="email?.hasError('email') && email?.dirty"> Email is invalid </mat-error>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="{{ showPassword ? 'password' : 'text' }}"
          name="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
          formControlName="password"
        />
        <mat-icon class="password-icon" (click)="showPassword = !showPassword">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="password?.hasError('required') && password?.dirty">
          Password is required
        </mat-error>
        <mat-error *ngIf="password?.hasError('minlength') && password?.dirty">
          Password must be at least 8 characters
        </mat-error>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">login</button>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>
    </form>
    <p>
      Don't have an account?
      <a class="register-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
    </p>
    <p>
      <a class="register-link" routerLink="/auth/forgot-password" routerLinkActive="active">Forgot Password</a>
    </p>
  </div>
</div>
