.post-form-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #7A73D1;
}

.card-title {
  font-size: 1.75rem;
  font-weight: bold;
}


.card-body {
  padding: 2rem;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); */
}

.form-control-lg {
  font-size: 16px;
}

.invalid-feedback {
  font-size: 0.875rem;
  color: #dc3545;
}

.btn-primary {
  background-color: #4D55CC;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #211C84;
}

.btn-primary:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.shadow-lg {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
