<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">Bulletin Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/post" >Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user/list">User Lists</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false" (click)="toggleDropdown($event)">
             <img [src]="getUserImage()" alt="Profile" class="profile-image">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" routerLink="user/profile" style="margin-bottom: 5px;">View Profile</a></li>
            <li><a class="dropdown-item" routerLink="/settings" style="margin-bottom: 5px;">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/auth/login">Login</a></li>
            <li><a class="dropdown-item" (click)="LOGOUT()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
