html,
body {
  height: 100%; /* Ensure the body takes full viewport height */
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use full height of the viewport */
}

main {
  flex: 1; /* This will push the footer to the bottom when content is short */
}
