<div class="post-container" *ngIf="post">
  <div class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-meta">
      <span>Created: {{ post.createdAt | date : 'MMMM d, y' }}</span>
      <span>Updated: {{ post.updatedAt | relativeTime }}</span>
    </div>
  </div>
  <div class="author-section">
    <div class="author-avatar" [style.background]="getAuthorAvatarBackground()"> </div>

    <div class="author-info">
      <div class="author-name">
        <p>{{ post.author.username }}</p>
      </div>
      <div class="author-bio" *ngIf="post.author.job || post.author.bio">
        {{ post.author.job ? post.author.job + ' | ' : '' }}
        {{ post.author.bio ? post.author.bio : '' }}
      </div>
    </div>
  </div>
  <!-- <div class="post-content">
    <p class="content-text" [innerHTML]="changeTextFormat(post.description)"></p>

  </div> -->
  <div class="post-content">
    <!-- <quill-editor [ngModel]="post.description" [readOnly]="true"></quill-editor> -->
     {{post.content}}
    <quill-view [content]="post.description"></quill-view>

  </div>
</div>

<!-- <a href="#" class="back-link">← Back to Posts</a> -->
