.profile-card {
  max-width: 650px;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  /* background: linear-gradient(135deg, #457b9d, #667eea); */
  background-color: #f1faee;
  padding: 20px;
  border-radius: 12px;
  text-align: center;

  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.bio{
  text-align: justify;
}

.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #1d3557;
  object-fit: cover;
  margin-bottom: 15px;
}

h2 {
  margin: 10px 0;
  text-align: right; /* Align text to the right */
}

p {
  font-size: 14px;
  margin: 5px 0;
  text-align: right; /* Align text to the right */
}

button {
  margin-top: 15px;
}
h2 {
  margin: 10px 0;
  text-align: center; /* Align text to the right */
}

.profile-info {
  display: grid;

  /* border: 1px solid green; */
  grid-template-columns: 1fr 3fr; /* Two columns: label and value */
  gap: 10px;
  margin-left: 30px;
  max-width: 560px;
  text-align: start;
  padding: 20px;

}
.main{
  border: 1px solid #eaeaea;
  padding: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(95, 172, 220, 0.2);

    display: grid;
    gap: 15px;
}

.profile-info .label{
  font-weight: 550;
}

.profile-container div:nth-child(odd) {
  font-weight: bold;
  color: #333;
}

.profile-container div:nth-child(even) {
  color: #555;
}


.profile-card .close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.profile-card button mat-icon {
  font-size: 24px;
  color: black;
}
.update-btn {
  display: inline-block;
  background: #2e5d7b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.update-btn:hover {
  background: #457b9d; /* Lighter shade on hover */
}

.update-btn:active {
  background: #a6f1f4; /* Darker shade when clicked */
}
