<div class="login-container" >
  <div class="login-card">
    <h1>Forgot Password</h1>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.dirty">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.dirty">
          Invalid email format
        </mat-error>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">
          Send Reset Link
        </button>
      </div>

      <p *ngIf="message">{{ message }}</p>


    </form>

    <p>
      Remembered your password?
      <a class="register-link" routerLink="/auth/login" routerLinkActive="active">Back to Login</a>
    </p>
  </div>
</div>
