form {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  background: #f1faee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(69, 123, 157, 0.2);

  display: grid;
  gap: 15px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 24px;
}

.form-group {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: 550;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a8dadc;
  border-radius: 5px;
  font-size: 16px;
  background: #f1faee;
  color: black;
}
textarea{
  width: 100%;
  padding: 10px;
  height: 110px;
  border: 1px solid #a8dadc;
  border-radius: 5px;
  font-size: 16px;
  background: #f1faee;
  color: black;
  /* overflow: hidden; */
}
mat-error{
  color: red;

}



input:focus {
  border-color: #457b9d;
  outline: none;
  box-shadow: 0 0 5px rgba(69, 123, 157, 0.5);
}


.image-group img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #a8dadc;
}


.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  background: #346583;
  color: #f1faee;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
button:disabled{
  background: #adb5bd;
  color: black;
  cursor: not-allowed;
}

button:disabled:hover{
  background: #adb5bd;
  color: black;
}

button:hover {
  background: #457b9d;
  color: whitesmoke;
}
