/* Footer styling */
.footer {
  background-color: #a8dadc;
  color: white;
  padding: 4px 0;
  text-align: center;
}

.footer .container {
  width: 80%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  color: #1d3557;
}
