<div class="container">
  <form>
    <div class="mb-3 row align-items-center">
      <div class="col-auto">
        <input
          id="post-search"
          type="text"
          class="form-control"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch($event)"
          placeholder="Search..."
        />
      </div>
      <div class="col-auto">
        <select
          class="form-select"
          id="sort-select"
          [(ngModel)]="sortOption"
          name="sortOptionValue"
        >
          <option value="title_asc">Title (A-Z)</option>
          <option value="title_desc">Title (Z-A)</option>
          <option value="author_asc">Author (A-Z)</option>
          <option value="author_desc">Author (Z-A)</option>
          <option value="createdAt_asc">Created At (Oldest first)</option>
          <option value="createdAt_desc">Created At (Newest first)</option>
          <option value="updatedAt_asc">Updated At (Oldest first)</option>
          <option value="updatedAt_desc">Updated At (Newest first)</option>
        </select>
      </div>
    </div>

    <div class="row">
      @if (loading$ | async) {
      <div class="col-12 text-center">
        <div class="spinner-border text-primary">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      } @else { @for (post of posts$ | async; track post.id) {
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <a
              [routerLink]="['/post/detail', post.documentId]"
              class="card-link text-decoration-none"
              tabindex="0"
              role="button"
            >
              <h5 class="card-title">
                <ngb-highlight [result]="post.title" [term]="searchTerm" />
              </h5>
              <div class="d-flex justify-content-between mb-2">
                <small>
                  By <ngb-highlight [result]="post.author.username" [term]="searchTerm" />
                </small>
                <small>
                  Created:

                  {{ post.createdAt | date : 'MMMM d, y' }}
                  | Updated:
                  {{ post.updatedAt | relativeTime }}
                </small>
              </div>

              <p>{{ post.content }}</p>
            </a>
            <div class="action" *ngIf="user && user.id === post.author.id">
              <button class="btn btn-primary btn-sm" [routerLink]="['/post/edit', post.documentId]"
                >Edit</button
              >
              <button class="btn btn-danger btn-sm" (click)="onDelete(post.documentId)"
                >Delete</button
              >
            </div>
          </div>
        </div>
      </div>
      } @empty {
      <div class="col-12">
        <p>No posts found</p>
      </div>
      } }
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async) || 0"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
      <select
        class="form-select"
        style="width: auto"
        name="pageSize"
        [(ngModel)]="pageSize"
        (ngModelChange)="onPageSizeChange($event)"
      >
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </form>
</div>
