.container {
  padding: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.table-container {
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #457b9d;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #a8dadc;
  color: #555;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #a8dadc;
}

tr:nth-child(odd) {
  background-color: #f1faee;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

.search-label {
  margin-left: 10px;
}

.search-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.action .btn{
  margin-left: 15px;
}

.card-text {
  margin-bottom: 15px;
  /* border : 1px solid red; */
  /* height: inherit; */
}

/* Style the Quill container */
.ql-container {
  border: 1px solid red !important;
  font-family: Arial, sans-serif;
  font-size: 16px;

}

/* Style the Quill editor content */
.ql-editor {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border:1px solid red;

}

/* Style headings */
.ql-editor h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.ql-editor h2 {
  font-size: 20px;
  font-weight: bold;
  color: #444;
}

/* Style paragraphs */
.ql-editor p {
  line-height: 1.6;
  color: #555;
}

/* Custom styling for links */
.ql-editor a {
  color: #007bff;
  text-decoration: none;
}

.ql-editor a:hover {
  text-decoration: underline;
}

/* Custom blockquotes */
.ql-editor blockquote {
  border-left: 4px solid #007bff;
  padding-left: 10px;
  color: #666;
  font-style: italic;
}

/* Custom styling for images */
.ql-editor img {
  max-width: 100%;
  border-radius: 5px;
}


